@import '../../../styles/fonts.scss';
@import '../../../styles/colours.scss';

.container {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 8px 0 0 0;

    border-radius: 8px;
    border: 1px solid $divider;
    background: $white;
}