@import '../../../styles/fonts.scss';
@import '../../../styles/colours.scss';

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: $button;
}