
/* Base Colours */
$divider: #E4E6EC;
$black: #000000;
$block: #F7F7F9;
$border-inline: #E0E2EA;
$white: #FFFFFF;

$button: #028837;
$button-hover: #029C3F;
$button-pressed: #02742F;

$error: #FF1F00;

/* Text Colours */
$text-primary: #363A43;
$text-secondary: #666C7B;
$text-outline: #797E8B;
$text-tertiary: #B0B4BE;
$text-field: #C7C9D1;
