@import '../../../styles/colours.scss';
@import '../../../styles/fonts.scss';

.button {
    padding: 12px;
    height: 48px;
    border-radius: 6px;
    background: $button;
    color: white;
}

.button:hover{
    background: $button-hover;
}

.button:active{
    background: $button-pressed;
}

.loading {
    display: flex;
    gap: 12px;
    justify-content: center;
}
