@import '../../../styles/fonts.scss';
@import '../../../styles/colours.scss';

.container {
  margin: 16px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 420px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 16px;
}

.checkout {
  color: $text-primary;
  @extend .subtitle2;
  margin-bottom: 16px;
  text-align: center;
}

.translateButton{
  width: 35px;
  height: fit-content;
}

.footer{
  display: flex;
  gap: 4px;
  justify-content: center;
  color: $text-secondary;
  @extend .body2;
  margin-bottom: 40px;
}